

.countCard {
    display: flex;
    border: 2px solid #e06202;  
    position: relative;
    min-height: 90px;
    border-radius: 8px;
    padding: 5px;
    margin-bottom:20px;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     left: 8px;
    //     width: 2px;
    //     height: 102%;
    //     top:-1px;
    //     background: #e06202;
    //     transform: rotate(10deg);
    // }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     right: 8px;
    //     width: 2px;
    //     height: 102%;
    //     top: -1px;
    //     background: #e06202;
    //     transform: rotate(10deg);
    // }

    span {
        width: 40%;
        display: block;
        text-align: center;
        line-height: 80px;
        background: #e06202;
        color: #fff;
        border-radius: 8px;

        .icon {
            font-size:34px;
        }
    }


    .countCardName {
        width: 60%;
        text-align: center;
        padding: 7px 5px 5px 5px;

        h2 {
            font-size: 35px;
            margin-bottom: 2px;
            font-weight: 600;
        }
        p {
            margin:0;
        }
    }
}

/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/

@media (min-width: 576px) {

    
}

@media (max-width: 767px) {

   
   
}