
.simpleTable {

    thead {

        tr {
            background-color: var(--Main2);
            color:#fff;
        }
    }

    th {
        font-weight: 500;
        padding: 10px 15px;
        vertical-align: middle;
    }

    td {
         padding: 10px 15px;
         vertical-align: middle;
    }
    tbody {
       border-top: none !important;
       background: #fff;

       .nameList {

            h6 {
                margin-bottom: 3px;
            }
            p {
                margin: 0;
                color: #909090;
                font-size: 14px;
            }
       }
    }
}



.staffCard {
    text-decoration: none;
    color: var(--Color);
    background: #fff;
    display: flex;
    padding: 10px 15px;
    border-radius: 8px;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #dfdfdf;

    .userName {
        display: flex;
        align-items: center;
        width: 100%;

        img {
            width: 75px;
            height: 75px;
            object-fit: cover;
            border-radius: 5px;
            margin-right: 10px;
            padding: 3px;
            border: 1px solid #d2caca;
        }
        .userBody {
            width: 100%;
            position: relative;

            h5 {
                margin-bottom: 5px;
                font-size: 18px;
            }
            p {
                margin:0;
                font-size: 15px;
            }

            .status {
                position: absolute;
                right: 0;
                top: 0;
                width: 15px;
                height: 15px;
                background: #cdc9c9;
                border-radius: 50px;
                cursor: pointer;
            }

        }
    }
    
}


//for search icon

.rightSearch {
    display: flex;
    justify-content: end;

    :global(.dropdown-menu) {
        padding: 0px 0px;
        border-radius: 8px;
        border-color: #d2cfcf;

        a {
            padding: 8px 10px;
            border-bottom: 1px solid #e4e4e4;

            &:last-child{
                border:none;
            }
        }
    }

    .searchbar{
        position: relative;
        margin-left: 10px;

        :global(.form-control) {
            border-radius: 8px;
            padding: 8px 12px;
        }

        .ion{
            position: absolute;
            top: 50%;
            font-size: 18px;
            right: 12px;
            cursor: pointer;
            transform: translate(-0%, -50%);
        }
    }
}


/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/
@media (max-width: 767px) {

    
.rightSearch {

    .searchbar{
        position: relative;
        margin-left: 0px;
        width: 100%;
        margin-right: 15px;
    }
    
    :global(.btn) {
        margin:0 !important;
        padding: 8px 15px !important;
    }
}

.adsentUserList {

    .List {

            .userName {
                width: 100%;
            }
            .totalAt {
                display: block;
                width: 100%;

                .timesheetbtn {
                    margin-left: 0px;
                    margin-top:10px;
                }
                
            }
        }
    }
   
}