@import "variables.module.scss"; 

body {
    background-color: #fff !important;
    font-family: 'Inter', sans-serif !important;
}

.hideSide {
    display: none;
}

.mainHeader {
    margin-left: 240px;
    padding: 20px 25px;
    background-color: #FBFBFB;

    .mobileHeader {
        display: none;
    }

    .headerTitle {

        h3 {
            margin: 0;
            font-size: 20px;
            font-weight: 600;
        }
    }

    .headerSearch {

        :global(.form-control) {
            border-radius: 5px !important;
            height: 44px;
            line-height: 44px;
            padding: 0px 15px;
            border-color: #fff;
            border: 1px solid gainsboro;

            &:focus {
                box-shadow:none;
            }
        }

        .searchBtn {
            background: var(--Main2);
            color: #fff;
            border: none;
            min-width: 100px;
            border-radius: 5px !important;
            margin-left: 10px !important;
            border: 1px solid var(--Main2);
        }
    }

    .headerRight {

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: right;
            align-items: center;

            li {
                margin-left: 40px;
                font-size: 14px;

                :global(.dropdown) {
                   
                    :global(.dropdown-toggle) {
                        padding: 0px;
                        color: var(--AdminMain);
                        text-decoration: none;

                        img {
                            height: 25px;
                        }
                       
                        &::after {
                            display: none;
                        }
                        &:focus {
                            box-shadow:none;
                        }
                        .icon {
                            font-size: 19px;
                        }
                        .menuTT {
                            font-size: 14px;
                            margin-top: 3px;
                            font-weight: 500;
                        }
                        
                    }
                }

                &.help {

                    :global(.dropdown) {
                   
                        :global(.dropdown-toggle) {
                           
                            .helpImg {
                                height: 27px;
                            }
                            
                        }
                    }
                }

            }
        }
    }
}

.scroll {
    overflow: hidden;
    height: calc(100vh - 88px);
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
	}
	&::-webkit-scrollbar-track {
		background-color:transparent;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #00000030;
	}
}

.sidebarMain {
    position: fixed;
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 10;
    background: var(--Main);
    transition: .2s ease-in;

    .logoBox {
        align-items: center;
        padding: 35px 15px 25px 15px;
        text-align: center;

        .navlogo {
            display: block;

            .logoIcon {
                height: 38px;    
                margin-bottom: 15px;
            }
            .line {
                width:100%;
            }
        }
        .hamburgerMenu {
            position: absolute;
            right: 10px;
            color: var(--AdminMain2);
            font-size: 35px;
            cursor: pointer;
            padding: 5px;
        }
    }

    .menuList {

        .scroll {
            list-style: none;
            margin: 0;
            padding: 0px 15px;

        


            :global(.accordion) {

                :global(.accordion-item) {
                    background-color: transparent;
                    border: none;
                    margin-bottom: 10px;


                    .listLink {
                        text-decoration: none;

                        :global(.accordion-header) {
                        
                            :global(.accordion-button) {

                                &::after {
                                    display: none;
                                }
                            }
                        }

                        &:global(.active) {

                            :global(.accordion-header) {
                        
                                :global(.accordion-button) {
                            
                                    background-color: var(--Main2);
                                    color:#fff;
                                    border-radius: 8px;
                                }
                            }
                        }
                    }
                    
                    :global(.accordion-header) {
                        
                        :global(.accordion-button) {
                            padding: 13px 13px;
                            background-color: transparent;
                            color:var(--Color);
                            display: flex;
                            align-items: center;
                            transition: 0.5s;
                            box-shadow: none;

                            &:focus {
                              box-shadow: none;
                            }
                            &::after {
                                filter: invert(10%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
                            }
                            .menuIcon {
                                width: 30px;
                                position: relative;
                                top: -3px;
                                text-align: center;
                                margin-right: 5px;
                                font-size: 20px;
                            }
                            &:hover , &:focus{
                                background-color: var(--Main2);
                                color:#fff;
                                border-radius: 8px;
                           
                                &::after {
                                    // background-image: url("data:image/svg+xml;charset=UTF-8, %3csvg xmlns='http://www.w3.org/2000/svg' width='13.001' height='7.002' viewBox='0 0 13.001 7.002'%3e%3cpath id='icon-arrow-white' d='M1.646,4.646a.5.5,0,0,1,.708,0L8,10.293l5.646-5.647a.5.5,0,0,1,.708.708l-6,6a.5.5,0,0,1-.708,0l-6-6a.5.5,0,0,1,0-.708Z' transform='translate(-1.499 -4.499)' fill='%23fff' fill-rule='evenodd'/%3e%3c/svg%3e ");
                                }

                            }
                        }

                    }
                    :global(.accordion-collapse) {

                        :global(.accordion-body) {
                        padding: 0px 0px;

                        ul {
                            list-style: none;
                            margin: 0;
                            padding-left: 47px;

                            li {

                                a {
                                    color:var(--Color);

                                    &:hover {
                                        background-color: transparent;
                                        color:var(--Color);
                                    }
                                    &.active , &:focus{
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                        }
                    }


                }
            }

            li {

                a {
                    display: flex;
                    align-items: center;
                    color: #A4A6B3;
                    text-decoration: none;
                    padding: 15px 0px;
                    background-color: transparent;
                    transition: 0.5s;
                    border-radius: 5px;

                    .menuIcon {
                        width: 55px;
                        position: relative;
                        top: -1px;
                        text-align: center;

                        svg {
                            height: 16px;
                            width: 16px;
                        }
                    }

                    &:hover, &.active {
                        background-color: var(--Main2);
                        color:#fff;
                        
                        .menuIcon {
                            
                            svg {

                                path {
                                    fill: #fff;
                                    fill-opacity:1;
                                    opacity: 1;
                                }
                                g {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.mainFooter {
    margin-left: 240px;
    padding: 20px 25px;
    background: #fff;
    text-align: center;
    
}

.pageWrapper {
    margin-left: 240px;
    padding: 20px 25px 0px 25px;

    :global(.card) {
        background-color: transparent;
        border:none;

        :global(.card-title) {
            
            h5 {
                font-size: 25px;
                font-weight: 600;
                margin-bottom: 0px;

                .back {
                    color: var(--Main2);
                    text-decoration:none;
                    margin-right: 20px;
                }

            }
            .rowTitle {
                margin-bottom: 20px;

                .rowTitleRight {
                    text-align: right;
                    
                    :global(.btn) {
                        background-color: var(--Main2);
                        border-color: var(--Main2);
                        color: #fff;
                        border-radius: 8px;
                        min-width: 80px;
                        padding: 8px 15px;
                        margin-left: 10px;

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }
            }
         }

        :global(.card-body) {
            border-radius: 3px;
            padding: 30px 30px;
            margin-bottom: 0px;
            background-color:var(--Main);

            .formBox {
                margin-bottom: 20px;

                :global(.form-label) {
                    margin-bottom: 10px;
                    font-size: 18px;
                    font-weight: 500;
                }
                :global(.form-control) {
                    padding: 10px 15px;
                    border: 1px solid #cacaca;

                    &:focus {
                        box-shadow: none;
                        border-color: var(--AdminMain2);
                    }
                }
            }
        }
    }
    .submitActionBox {
    
        .submitBtn {
            background-color: var(--AdminMain);
            color: #fff;
            min-width: 160px;
            padding: 10px 10px;
        
            &:hover {
                background-color: var(--AdminMain2);
                color: #fff;
            }
        }
        .submitBtnGrey {
            background-color:#D0D5DD;
            color: #64748B;
            min-width: 160px;
            padding: 10px 10px;
        
            &:hover {
                background-color: var(--AdminMain2);
                color: #fff;
            }
        }
    }
}


.checkbox {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-left: 25px;
  
	&:hover input ~ .checkmark {
	}
  
    input {
		opacity: 0;
		margin-right:10px;
		position:absolute;
	  
	    &:checked ~ .checkmark {
		  border: 2px solid #B8C0CC;
		}
		&:checked ~ .checkmark:after {
		  display: block;
		}
	}
	.checkmark {
		position: absolute;
		top: 3px;
		left: 0;
		height: 18px;
		width: 18px;
		background-color: #fff;
		border-radius: 3px;
        border: 2px solid #B8C0CC;

	    &:after {
			content: "";
			position: absolute;
			display: none;
		    left: 5px;
			top: 1px;
			width: 5px;
			height: 10px;
			border: solid #B8C0CC;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
    }	
}

.radio {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  
	&:hover input ~ .checkmark {
	    background-color: #f3f1f1;
		border: 1px solid #d8d8d8;
	}
  
    input {
		opacity: 0;
		margin-right:8px;
	  
	    &:checked ~ .checkmark {
		  background-color: var(--Main2);
		  border: 1px solid var(--Main2);
		}
		&:checked ~ .checkmark:after {
		  display: block;
		}
	}
	.checkmark {
		position: absolute;
		top: 4px;
		left: 0;
		height: 17px;
		width: 17px;
		background-color: #eee;
		border-radius: 50%;
        border: 1px solid #d8d8d8;

	    &:after {
			content: "";
			position: absolute;
			display: none;
			left: 4px;
			top: 4px;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background: white;
		}
    }	
}



.w100 {
    width:100%;
}
.w50 {
    width:50%;
}


.bgBox {
    background-color: #fff;
    padding: 20px;
}
.bgremove {
    background:none;
    border:none;
    padding:0;
}



/*=======================================================
//////////////RESPONSIVE MEDIA QUERY START///////////////
=======================================================*/
@media (max-width: 767px) {

    .mainHeader {
        margin-left:0px;
        padding: 0px 0px;
        margin-top: 56px;

        .headerMobile {
            display: none;
            position: fixed;
            top: 80px;
            left: 0px;
            background: var(--Main);
            padding: 15px 15px;
            z-index: 99;
            transition: 0.5s;
            opacity: 0;

            &.show {
                top: 56px;
                opacity: 1;
                box-shadow: 0 5px 5px -4px #a6a6a6;
            }
        }

        .headerRight {

            ul {
    
                li {
                    margin-left: 20px;
                }
            }
        }

        .mobileHeader {
            background-color: #fff;
            padding: 15px 15px 15px 15px;
            color:var(--Color);
            margin: 0;
            align-items: center;
            position: fixed;
            left: 0;
            width: 100%;
            top: 0;
            z-index: 99;
            display: flex;

            .navlogo {

                .logoIcon {
                    height: 30px;
                }
            }
            .hembugmenu {
                font-size:20px;
            }
            .moreMenu {
                text-align: right;

                .moreIcon {
                    font-size: 20px;
                    cursor: pointer;
                }
            }
            
        }
        
    }
    .sidebarBody {
        
        .sidebarMain {
            left: -240px;
            transition:0.5s;
            z-index:9999;
        }
        
        .hideBg {
            width: 100%;
            position: fixed;
            left: -100%;
            background: rgba(0, 0, 0, 0.3);
            height: 100%;
            top: 0;
            z-index: 99;
        }
        
        &.show {

            .sidebarMain {
                left: 0px;
            }
            
            .hideBg {
                left: 0%;
            }
        }
    }
    
    .pageWrapper {
        margin-left: 0px;
        padding:10px 15px 0px 15px;

        :global(.card) {
            background-color: transparent;
            border:none;
    
            :global(.card-title) {
            
                h5 {
                    font-size: 22px;
                    margin-bottom: 20px;
    
                }
                .rowTitle {
                    margin-bottom: 10px;
    
                    .rowTitleRight {
                        display:flex;
                        flex-wrap: wrap;
                        
                        :global(.btn) {
                            min-width: 70px;
                            padding: 10px 10px;
                            margin-left: 0px;
                            margin-bottom: 10px;
                            margin-right: 0px;

                            &.width100 {
                                width:100%;
                                flex: 0 0 auto;
                            }
                            &.width50 {
                                width:48%;
                                flex: 0 0 auto;
                            }
                        }
                        
                        .width50:nth-child(1) {
                            margin-right: 6px;
                        }
                        .width50:nth-child(2) {
                            margin-left: 6px;
                        }
                    }
                }
            }
    
            :global(.card-body) {
                padding: 15px 15px;
            }
        }
    }
    .mainFooter {
        margin-left:0px;
        padding: 20px 15px;
    }
   
}

  @media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .mainHeader {
      
    
        .headerRight {
    
            ul {
    
                li {
                    margin-left: 15px;
    
                    &.profileBox {
                        padding-left: 15px;
                    }
                }
            }
        }
    }
    
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    
  }
  @media only screen and (max-width: 5520px) and (min-width: 768px) {
    
  }

  @media only screen and (min-width: 1200px) and (max-width: 1279px) {

  }
  /*=======================================================
  //////////////RESPONSIVE MEDIA QUERY END///////////////
  =======================================================*/